<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="dll"/>
    </assemblyBinding>
  </runtime>
  <nlog internalLogToConsole="true" >
    <extensions>
      <add assembly="NLog.Windows.Forms"/>
    </extensions>
    <targets>
      <target name="debugToConsole"
              type="Console"
              layout="${longdate} [${uppercase:${level:padding=-5}}] ${callsite}() ${message} ${exception:format=tostring}" />
      <target name="debugToFile"
              type="File" 
              fileName="${basedir}/logs/${shortdate}.log"
              layout="${longdate} [${uppercase:${level:padding=-5}}] ${callsite}() ${message} ${exception:format=tostring}" />
      <target name="debugToControl"
              type="FormControl"
              controlName="textBox_Log"
              formName="Form1"
              reverseOrder ="true"
              layout="${longdate} [${uppercase:${level:padding=-5}}] ${callsite}() ${message} ${exception:format=tostring} ${newline}" />

      <target name="infoToConsole"
        type="Console"
        layout="${longdate} [${uppercase:${level:padding=-5}}] ${message} ${exception:format=tostring}" />
      <target name="infoToFile"
              type="File"
              fileName="${basedir}/logs/${shortdate}.log"
              layout="${longdate} [${uppercase:${level:padding=-5}}] ${message} ${exception:format=tostring}" />
      <target name="infoToControl"
              type="FormControl"
              controlName="textBox_Log"
              formName="Form1"
              reverseOrder ="true"
              layout="${longdate} [${uppercase:${level:padding=-5}}] ${message} ${exception:format=tostring} ${newline}" />

    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="debugToConsole,debugToFile,debugToControl" />
      <!--<logger name="*" minlevel="Info" writeTo="infoToConsole,infoToFile" />-->
      <!--<logger name="*" minlevel="Info" writeTo="infoToConsole,infoToFile,infoToControl" />-->
    </rules>
  </nlog>
</configuration>