<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LiveTubeReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="dll" />
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <LiveTubeReport.Properties.Settings>
      <setting name="form_location" serializeAs="String">
        <value>0, 17</value>
      </setting>
      <setting name="form_size" serializeAs="String">
        <value>917, 518</value>
      </setting>
      <setting name="data_path" serializeAs="String">
        <value>.\data\</value>
      </setting>
      <setting name="data_file_name" serializeAs="String">
        <value>data.xml</value>
      </setting>
      <setting name="option_file_name" serializeAs="String">
        <value>option.xml</value>
      </setting>
      <setting name="image_path" serializeAs="String">
        <value>image\</value>
      </setting>
    </LiveTubeReport.Properties.Settings>
  </userSettings>
</configuration>
