<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" internalLogToConsole="true">

  <extensions>
    <add assembly="NLog.Windows.Forms" />
  </extensions>
  <targets>
    <target name="debugToConsole" xsi:type="Console" layout="${longdate} [${uppercase:${level:padding=-5}}] ${callsite}() ${message} ${exception:format=tostring}" />
    <target name="debugToFile" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate} [${uppercase:${level:padding=-5}}] ${callsite}() ${message} ${exception:format=tostring}" />
    <target name="debugToControl" xsi:type="FormControl" controlName="LogTextBox" formName="MainForm" reverseOrder="true" layout="${longdate} [${uppercase:${level:padding=-5}}] ${callsite}() ${message} ${exception:format=tostring} ${newline}" />

    <target name="infoToConsole" xsi:type="Console" layout="${longdate} [${uppercase:${level:padding=-5}}] ${message} ${exception:format=tostring}" />
    <target name="infoToFile" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate} [${uppercase:${level:padding=-5}}] ${message} ${exception:format=tostring}" />
    <target name="infoToControl" xsi:type="FormControl" controlName="LogTextBox" formName="MainForm" reverseOrder="true" layout="${longdate} [${uppercase:${level:padding=-5}}] ${message} ${exception:format=tostring} ${newline}" />

  </targets>
  <rules>
    <!--<logger name="*" minlevel="Trace" writeTo="debugToConsole,debugToFile,debugToControl" />
    <logger name="*" minlevel="Info" writeTo="infoToConsole,infoToFile" />-->
    <logger name="*" minlevel="Info" writeTo="infoToConsole,infoToFile,infoToControl" />
  </rules>
</nlog>
